#title {
    font-family: 'Roboto', sans-serif;
}
.indexA {
    color: #000000;
    font-size: 20px;
}
.indexA:hover {
    color: #000000;
    font-size: 22.5px;
    text-decoration: none;
}
body {
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}
.indent {
    margin-left: 25px;
}
.warning {
    color: #ff0000;
    font-weight: bold;
    margin-left: 25px;
}
.warning2 {
    color: #ff0000;
    font-weight: bold;
    margin-left: 50px;
}
.indent2 {
    margin-left: 50px;
}
.indent3 {
    margin-left: 75px;
}
.menu {
    width: 200px;
    position: absolute;
    right: 1vw;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.menu a {
    background-color: #ffe6e6;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    font-size: 21.6px;
    font-family: 'Roboto', sans-serif;
}

.menu a:hover {
    background-color: #ffb3b3;
}

.menu a.active {
    background-color: #ffcccc;
    color: black;
}

.container {
    height: 215px;
    width: 260px;
    right: 1vw;
    position: absolute;
}
#items {
    position: absolute;
    top: 10vh;
    font-size: 20px;
}